resources/schematron/qrda/qrda_cat_1/measure_specific/9a033a94-3d9b-11e1-8634-00237d5bf174.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron C:/Users/rickg/workspaces-svn/ClientProjects/QRDATesting/measure-specific-schematron/schematron.xsd">
	<ns uri="urn:hl7-org:v3" prefix="cda"/>
	<ns uri="urn:hl7-org:sdtc" prefix="sdtc"/>
	<phase id="warnings">
		<active pattern="p"/>
	</phase>
	<pattern id="p">
		<rule context="/cda:ClinicalDocument">
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.263']">For QDT pattern 'Diagnosis, Active: Diagnosis of hypertension grouped', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.263". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.23'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1920']">For QDT pattern 'Encounter, Performed: BP Screening Denominator Encounter Codes Grouped New', QRDA template id "2.16.840.1.113883.10.20.24.3.23" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1920". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1515']">For QDT pattern 'Intervention, Order: Dietary Recommendations', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1515". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1508']">For QDT pattern 'Intervention, Order: Lifestyle Recommendation', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1508". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.823']">For QDT pattern 'Intervention, Order: Moderation of ETOH Consumption Recommendation', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.823". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1518']">For QDT pattern 'Intervention, Order: Physical Activity Recommendation', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1518". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1475']">For QDT pattern 'Intervention, Order: Referral to Alternative Provider / Primary Care Provider', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1475". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1474']">For QDT pattern 'Intervention, Order: Rescreen BP Within 1 Year', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1474". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1537']">For QDT pattern 'Intervention, Order: Rescreen BP within 4 weeks', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1537". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1510']">For QDT pattern 'Intervention, Order: Weight Reduction Recommended', QRDA template id "2.16.840.1.113883.10.20.24.3.31" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1510". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.37'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1483']">For QDT pattern 'Laboratory Test, Order: Electrocardiogram (ECG)', QRDA template id "2.16.840.1.113883.10.20.24.3.37" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1483". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.37'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1482']">For QDT pattern 'Laboratory Test, Order: Laboratory Tests for Hypertension', QRDA template id "2.16.840.1.113883.10.20.24.3.37" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1482". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.47'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.600.1476']">For QDT pattern 'Medication, Order: Anti-Hypertensive Pharmacologic Therapy', QRDA template id "2.16.840.1.113883.10.20.24.3.47" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.600.1476". </assert>
			<!--
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.101'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.560.100.4']">For QDT pattern 'Patient Characteristic: birth date', QRDA template id "2.16.840.1.113883.10.20.24.3.101" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.560.100.4". </assert>
			-->
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.57'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.3.1033']">For QDT pattern 'Physical Exam, Finding: Diastolic Blood Pressure', QRDA template id "2.16.840.1.113883.10.20.24.3.57" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.3.1033". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.57'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.3.1032']">For QDT pattern 'Physical Exam, Finding: Systolic Blood Pressure', QRDA template id "2.16.840.1.113883.10.20.24.3.57" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.3.1032". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.59'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.3.1033']">For QDT pattern 'Physical Exam, Performed: Diastolic Blood Pressure', QRDA template id "2.16.840.1.113883.10.20.24.3.59" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.3.1033". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.59'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.3.1032']">For QDT pattern 'Physical Exam, Performed: Systolic Blood Pressure', QRDA template id "2.16.840.1.113883.10.20.24.3.59" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.3.1032". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.55'][descendant::*/@sdtc:valueSet='2.16.840.1.114222.4.11.3591']">For QDT pattern 'Patient Characteristic Payer: Payer', QRDA template id "2.16.840.1.113883.10.20.24.3.55" SHOULD be present and SHOULD be bound to value set "2.16.840.1.114222.4.11.3591". </assert>
		</rule>
	</pattern>
</schema>