resources/schematron/qrda/qrda_cat_1/measure_specific/b2802b7a-3580-4be8-9458-921aea62b78c.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron C:/Users/rickg/workspaces-svn/ClientProjects/QRDATesting/measure-specific-schematron/schematron.xsd">
	<ns uri="urn:hl7-org:v3" prefix="cda"/>
	<ns uri="urn:hl7-org:sdtc" prefix="sdtc"/>
	<phase id="warnings">
		<active pattern="p"/>
	</phase>
	<pattern id="p">
		<rule context="/cda:ClinicalDocument">
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0032']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Common Baker's Yeast', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0032". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0031']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to DTaP Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0031". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0030']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Hemophilus Influenza B (HiB) Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0030". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0026']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Hepatitis A Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0026". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0029']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Hepatitis B Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0029". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0023']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Inactivated Polio Vaccine (IPV)', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0023". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0022']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Influenza Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0022". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0024']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Neomycin', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0024". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0027']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Pneumococcal Conjugate Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0027". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0025']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Polymyxin', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0025". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0021']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Rotavirus Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0021". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.99.02.0028']">For QDT pattern 'Diagnosis, Active: Anaphylactic Reaction to Streptomycin', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.99.02.0028". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.12.02.0001']">For QDT pattern 'Diagnosis, Active: Disorders of the Immune System', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.12.02.0001". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.14.02.0007']">For QDT pattern 'Diagnosis, Active: Encephalopathy', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.14.02.0007". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0024']">For QDT pattern 'Diagnosis, Active: Hepatitis A', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0024". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0025']">For QDT pattern 'Diagnosis, Active: Hepatitis B', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0025". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.03.465']">For QDT pattern 'Diagnosis, Active: HIV', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.03.465". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.08.02.0021']">For QDT pattern 'Diagnosis, Active: Malignant Neoplasm of Lymphatic Tissue', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.08.02.0021". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0053']">For QDT pattern 'Diagnosis, Active: Measles', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0053". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0032']">For QDT pattern 'Diagnosis, Active: Mumps', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0032". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0037']">For QDT pattern 'Diagnosis, Active: Rubella', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0037". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0039']">For QDT pattern 'Diagnosis, Active: Varicella Zoster', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0039". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.13'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0025']">For QDT pattern 'Diagnosis, Inactive: Hepatitis B', QRDA template id "2.16.840.1.113883.10.20.24.3.13" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0025". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.13'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0039']">For QDT pattern 'Diagnosis, Inactive: Varicella Zoster', QRDA template id "2.16.840.1.113883.10.20.24.3.13" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0039". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.14.02.0007']">For QDT pattern 'Diagnosis, Resolved: Encephalopathy', QRDA template id "2.16.840.1.113883.10.20.24.3.14" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.14.02.0007". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0024']">For QDT pattern 'Diagnosis, Resolved: Hepatitis A', QRDA template id "2.16.840.1.113883.10.20.24.3.14" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0024". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0053']">For QDT pattern 'Diagnosis, Resolved: Measles', QRDA template id "2.16.840.1.113883.10.20.24.3.14" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0053". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0032']">For QDT pattern 'Diagnosis, Resolved: Mumps', QRDA template id "2.16.840.1.113883.10.20.24.3.14" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0032". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0037']">For QDT pattern 'Diagnosis, Resolved: Rubella', QRDA template id "2.16.840.1.113883.10.20.24.3.14" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0037". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0039']">For QDT pattern 'Diagnosis, Resolved: Varicella Zoster', QRDA template id "2.16.840.1.113883.10.20.24.3.14" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0039". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.40'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.98.02.0033']">For QDT pattern 'Laboratory Test, Result: Hepatitis A Antigen Test', QRDA template id "2.16.840.1.113883.10.20.24.3.40" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.98.02.0033". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.40'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.98.02.0031']">For QDT pattern 'Laboratory Test, Result: Hepatitis B Antigen Test', QRDA template id "2.16.840.1.113883.10.20.24.3.40" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.98.02.0031". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.40'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.98.02.0029']">For QDT pattern 'Laboratory Test, Result: Measles Antigen Test', QRDA template id "2.16.840.1.113883.10.20.24.3.40" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.98.02.0029". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.40'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.98.02.0028']">For QDT pattern 'Laboratory Test, Result: Mumps Antigen Test', QRDA template id "2.16.840.1.113883.10.20.24.3.40" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.98.02.0028". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.40'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.98.02.0030']">For QDT pattern 'Laboratory Test, Result: Rubella Antigen Test', QRDA template id "2.16.840.1.113883.10.20.24.3.40" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.98.02.0030". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.40'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.98.02.0032']">For QDT pattern 'Laboratory Test, Result: Varicella Zoster Antigen Test', QRDA template id "2.16.840.1.113883.10.20.24.3.40" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.98.02.0032". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0214']">For QDT pattern 'Medication, Administered: DTaP Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0214". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0217']">For QDT pattern 'Medication, Administered: Hemophilus Influenze B (HiB) Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0217". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0215']">For QDT pattern 'Medication, Administered: Hepatitis A Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0215". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0216']">For QDT pattern 'Medication, Administered: Hepatitis B Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0216". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0219']">For QDT pattern 'Medication, Administered: Inactivated Polio Vaccine (IPV)', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0219". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0218']">For QDT pattern 'Medication, Administered: Influenza Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0218". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0224']">For QDT pattern 'Medication, Administered: Measles, Mumps and Rubella (MMR) Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0224". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0221']">For QDT pattern 'Medication, Administered: Pneumococcal Conjugate Vaccine', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0221". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0222']">For QDT pattern 'Medication, Administered: Rotavirus Vaccine (2 dose schedule)', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0222". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0223']">For QDT pattern 'Medication, Administered: Rotavirus Vaccine (3 dose schedule)', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0223". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.42'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0170']">For QDT pattern 'Medication, Administered: Varicella Zoster Vaccine (VZV)', QRDA template id "2.16.840.1.113883.10.20.24.3.42" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0170". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0022']">For QDT pattern 'Procedure, Performed: DTaP Vaccine Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0022". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0043']">For QDT pattern 'Procedure, Performed: Hemophilus Influenze B (HiB) Vaccine Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0043". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0041']">For QDT pattern 'Procedure, Performed: Hepatitis A Vaccine Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0041". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0042']">For QDT pattern 'Procedure, Performed: Hepatitis B Vaccine Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0042". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0045']">For QDT pattern 'Procedure, Performed: Inactivated Polio Vaccine (IPV) Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0045". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0044']">For QDT pattern 'Procedure, Performed: Influenza Vaccine Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0044". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0031']">For QDT pattern 'Procedure, Performed: Measles, Mumps and Rubella (MMR) Vaccine Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0031". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0046']">For QDT pattern 'Procedure, Performed: Pneumococcal Conjugate Vaccine Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0046". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0048']">For QDT pattern 'Procedure, Performed: Rotavirus Vaccine (2 dose schedule) Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0048". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0047']">For QDT pattern 'Procedure, Performed: Rotavirus Vaccine (3 dose schedule) Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0047". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0040']">For QDT pattern 'Procedure, Performed: Varicella Zoster Vaccine (VZV) Administered', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0040". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.55'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.221.5']">For QDT pattern 'Patient Characteristic Payer: Payer', QRDA template id "2.16.840.1.113883.10.20.24.3.55" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.221.5". </assert>
		</rule>
	</pattern>
</schema>