resources/schematron/qrda/qrda_cat_1/measure_specific/b6016b47-b65d-4be0-866f-1d397886ca89.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron C:/Users/rickg/workspaces-svn/ClientProjects/QRDATesting/measure-specific-schematron/schematron.xsd">
	<ns uri="urn:hl7-org:v3" prefix="cda"/>
	<ns uri="urn:hl7-org:sdtc" prefix="sdtc"/>
	<phase id="warnings">
		<active pattern="p"/>
	</phase>
	<pattern id="p">
		<rule context="/cda:ClinicalDocument">
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.108.12.1011']">For QDT pattern 'Diagnosis, Active: All Cancer', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.108.12.1011". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.106.12.1003']">For QDT pattern 'Diagnosis, Active: IV Drug Abuse', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.106.12.1003". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.113.12.1001']">For QDT pattern 'Diagnosis, Active: Low Back Pain', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.113.12.1001". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.114.12.1012']">For QDT pattern 'Diagnosis, Active: Neurologic impairment', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.114.12.1012". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.113.12.1036']">For QDT pattern 'Diagnosis, Active: Trauma', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.113.12.1036". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.13'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.108.12.1011']">For QDT pattern 'Diagnosis, Inactive: All Cancer', QRDA template id "2.16.840.1.113883.10.20.24.3.13" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.108.12.1011". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.108.12.1011']">For QDT pattern 'Diagnosis, Resolved: All Cancer', QRDA template id "2.16.840.1.113883.10.20.24.3.14" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.108.12.1011". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.18'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.113.12.1035']">For QDT pattern 'Diagnostic Study, Performed: CT Scan of Lower Spine', QRDA template id "2.16.840.1.113883.10.20.24.3.18" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.113.12.1035". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.18'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.113.12.1034']">For QDT pattern 'Diagnostic Study, Performed: MRI of Lower Spine', QRDA template id "2.16.840.1.113883.10.20.24.3.18" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.113.12.1034". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.18'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.113.12.1033']">For QDT pattern 'Diagnostic Study, Performed: X-Ray of Lower Spine', QRDA template id "2.16.840.1.113883.10.20.24.3.18" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.113.12.1033". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.23'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.101.12.1010']">For QDT pattern 'Encounter, Performed: Emergency Department Visit', QRDA template id "2.16.840.1.113883.10.20.24.3.23" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.101.12.1010". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.23'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.1003.101.12.1001']">For QDT pattern 'Encounter, Performed: Office Visit', QRDA template id "2.16.840.1.113883.10.20.24.3.23" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.1003.101.12.1001". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.55'][descendant::*/@sdtc:valueSet='2.16.840.1.114222.4.11.3591']">For QDT pattern 'Patient Characteristic Payer: Payer', QRDA template id "2.16.840.1.113883.10.20.24.3.55" SHOULD be present and SHOULD be bound to value set "2.16.840.1.114222.4.11.3591". </assert>
		</rule>
	</pattern>
</schema>