resources/schematron/qrda/qrda_cat_1/measure_specific/b99aaef6-7889-4aba-85fc-5a2b739dd098.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron C:/Users/rickg/workspaces-svn/ClientProjects/QRDATesting/measure-specific-schematron/schematron.xsd">
	<ns uri="urn:hl7-org:v3" prefix="cda"/>
	<ns uri="urn:hl7-org:sdtc" prefix="sdtc"/>
	<phase id="warnings">
		<active pattern="p"/>
	</phase>
	<pattern id="p">
		<rule context="/cda:ClinicalDocument">
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.1504']">For QDT pattern 'Diagnosis, Active: BH Condition involving bipolar disorder', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.1504". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.1505']">For QDT pattern 'Diagnosis, Active: BH Condition involving unipolar depression', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.1505". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.22'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.973']">For QDT pattern 'Encounter, Order: BH Outpatient psychotherapy', QRDA template id "2.16.840.1.113883.10.20.24.3.22" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.973". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.23'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0001.49']">For QDT pattern 'Encounter, Performed: BH Outpatient encounter', QRDA template id "2.16.840.1.113883.10.20.24.3.23" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0001.49". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.23'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.973']">For QDT pattern 'Encounter, Performed: BH Outpatient psychotherapy', QRDA template id "2.16.840.1.113883.10.20.24.3.23" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.973". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.41'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.972']">For QDT pattern 'Medication, Active: BH Antidepressant medication', QRDA template id "2.16.840.1.113883.10.20.24.3.41" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.972". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.41'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.950']">For QDT pattern 'Medication, Active: BH Mood stabilizer medication', QRDA template id "2.16.840.1.113883.10.20.24.3.41" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.950". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.47'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.972']">For QDT pattern 'Medication, Order: BH Antidepressant medication', QRDA template id "2.16.840.1.113883.10.20.24.3.47" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.972". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.47'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.950']">For QDT pattern 'Medication, Order: BH Mood stabilizer medication', QRDA template id "2.16.840.1.113883.10.20.24.3.47" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.950". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.63'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.1616']">For QDT pattern 'Procedure, Order: BH Counseling for depression', QRDA template id "2.16.840.1.113883.10.20.24.3.63" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.1616". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.63'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.1533']">For QDT pattern 'Procedure, Order: BH Electroconvulsive therapy', QRDA template id "2.16.840.1.113883.10.20.24.3.63" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.1533". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.1604']">For QDT pattern 'Procedure, Performed: BH Assessment for alcohol or other drugs', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.1604". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.1616']">For QDT pattern 'Procedure, Performed: BH Counseling for depression', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.1616". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.1257.1.1533']">For QDT pattern 'Procedure, Performed: BH Electroconvulsive therapy', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.1257.1.1533". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.55'][descendant::*/@sdtc:valueSet='2.16.840.1.114222.4.11.3591']">For QDT pattern 'Patient Characteristic Payer: Payer', QRDA template id "2.16.840.1.113883.10.20.24.3.55" SHOULD be present and SHOULD be bound to value set "2.16.840.1.114222.4.11.3591". </assert>
		</rule>
	</pattern>
</schema>