resources/schematron/qrda/qrda_cat_1/measure_specific/bb481284-30dd-4383-928c-82385bbf1b17.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron C:/Users/rickg/workspaces-svn/ClientProjects/QRDATesting/measure-specific-schematron/schematron.xsd">
	<ns uri="urn:hl7-org:v3" prefix="cda"/>
	<ns uri="urn:hl7-org:sdtc" prefix="sdtc"/>
	<phase id="warnings">
		<active pattern="p"/>
	</phase>
	<pattern id="p">
		<rule context="/cda:ClinicalDocument">
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.3011']">For QDT pattern 'Diagnosis, Active: Hospital Measures - AMI', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.3011". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.23'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.625']">For QDT pattern 'Encounter, Performed: Hospital Measures-Encounter Inpatient', QRDA template id "2.16.840.1.113883.10.20.24.3.23" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.625". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.32'][descendant::*/@sdtc:valueSet='1.3.6.1.4.1.33895.1.3.0.45']">For QDT pattern 'Intervention, Performed: Hospital Measures - Comfort Measures Only Intervention', QRDA template id "2.16.840.1.113883.10.20.24.3.32" SHOULD be present and SHOULD be bound to value set "1.3.6.1.4.1.33895.1.3.0.45". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.41'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.626']">For QDT pattern 'Medication, Active: Hospital Measures-Aspirin', QRDA template id "2.16.840.1.113883.10.20.24.3.41" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.626". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.43'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.626']">For QDT pattern 'Medication, Adverse Effects: Hospital Measures-Aspirin', QRDA template id "2.16.840.1.113883.10.20.24.3.43" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.626". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.44'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.626']">For QDT pattern 'Medication, Allergy: Hospital Measures-Aspirin', QRDA template id "2.16.840.1.113883.10.20.24.3.44" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.626". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.46'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.626']">For QDT pattern 'Medication, Intolerance: Hospital Measures-Aspirin', QRDA template id "2.16.840.1.113883.10.20.24.3.46" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.626". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.47'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.626']">For QDT pattern 'Medication, Order: Hospital Measures-Aspirin', QRDA template id "2.16.840.1.113883.10.20.24.3.47" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.626". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.51'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.2.643']">For QDT pattern 'Patient Characteristic: Clinical Trial Participant', QRDA template id "2.16.840.1.113883.10.20.24.3.101" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.2.643". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.82'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.3008']">For QDT pattern 'Transfer To: Hospital Measures - Home Hospice Care', QRDA template id "2.16.840.1.113883.10.20.24.3.82" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.3008". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.82'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.3007']">For QDT pattern 'Transfer To: Hospital Measures - Inpatient Hospice Care', QRDA template id "2.16.840.1.113883.10.20.24.3.82" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.666.5.3007". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.55'][descendant::*/@sdtc:valueSet='2.16.840.1.114222.4.11.3591']">For QDT pattern 'Patient Characteristic Payer: Payer', QRDA template id "2.16.840.1.113883.10.20.24.3.55" SHOULD be present and SHOULD be bound to value set "2.16.840.1.114222.4.11.3591". </assert>
		</rule>
	</pattern>
</schema>