resources/schematron/qrda/qrda_cat_1/measure_specific/c9930664-be3d-4ffe-ae4a-5cf4933ecb89.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron C:/Users/rickg/workspaces-svn/ClientProjects/QRDATesting/measure-specific-schematron/schematron.xsd">
	<ns uri="urn:hl7-org:v3" prefix="cda"/>
	<ns uri="urn:hl7-org:sdtc" prefix="sdtc"/>
	<phase id="warnings">
		<active pattern="p"/>
	</phase>
	<pattern id="p">
		<rule context="/cda:ClinicalDocument">
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.20.02.0003']">For QDT pattern 'Diagnosis, Active: Chlamydia', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.20.02.0003". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.11.02.0012']">For QDT pattern 'Diagnosis, Active: Complications of Pregnancy, Childbirth and the Puerperium', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.11.02.0012". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0049']">For QDT pattern 'Diagnosis, Active: Genital Herpes', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0049". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.20.02.0001']">For QDT pattern 'Diagnosis, Active: Gonococcal Infections and Venereal Diseases', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.20.02.0001". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.03.465']">For QDT pattern 'Diagnosis, Active: HIV', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.03.465". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.20.02.0004']">For QDT pattern 'Diagnosis, Active: Inflammatory Diseases of Female Reproductive Organs', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.20.02.0004". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.11.02.0006']">For QDT pattern 'Diagnosis, Active: Other Female Reproductive Conditions', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.11.02.0006". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.20.02.0002']">For QDT pattern 'Diagnosis, Active: Syphilis', QRDA template id "2.16.840.1.113883.10.20.24.3.11" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.20.02.0002". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.18'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.11.02.0008']">For QDT pattern 'Diagnostic Study, Performed: Diagnostic Studies During Pregnancy', QRDA template id "2.16.840.1.113883.10.20.24.3.18" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.11.02.0008". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.18'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.98.02.0034']">For QDT pattern 'Diagnostic Study, Performed: X-Ray Study (all inclusive)', QRDA template id "2.16.840.1.113883.10.20.24.3.18" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.98.02.0034". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.38'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.11.02.0007']">For QDT pattern 'Laboratory Test, Performed: Lab Tests During Pregnancy', QRDA template id "2.16.840.1.113883.10.20.24.3.38" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.11.02.0007". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.38'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0051']">For QDT pattern 'Laboratory Test, Performed: Lab Tests for Sexually Transmitted Infections', QRDA template id "2.16.840.1.113883.10.20.24.3.38" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0051". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.38'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.08.02.0017']">For QDT pattern 'Laboratory Test, Performed: Pap Test', QRDA template id "2.16.840.1.113883.10.20.24.3.38" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.08.02.0017". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.38'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.11.02.0011']">For QDT pattern 'Laboratory Test, Performed: Pregnancy Test', QRDA template id "2.16.840.1.113883.10.20.24.3.38" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.11.02.0011". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.40'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.10.02.0052']">For QDT pattern 'Laboratory Test, Result: Chlamydia Screening', QRDA template id "2.16.840.1.113883.10.20.24.3.40" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.10.02.0052". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.41'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0080']">For QDT pattern 'Medication, Active: Contraceptive Medications', QRDA template id "2.16.840.1.113883.10.20.24.3.41" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0080". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.45'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0143']">For QDT pattern 'Medication, Dispensed: Isotretinoin', QRDA template id "2.16.840.1.113883.10.20.24.3.45" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0143". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.47'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.96.02.0143']">For QDT pattern 'Medication, Order: Isotretinoin', QRDA template id "2.16.840.1.113883.10.20.24.3.47" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.96.02.0143". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.03.393']">For QDT pattern 'Procedure, Performed: Delivery Live Births', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.526.03.393". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.11.02.0009']">For QDT pattern 'Procedure, Performed: Procedures During Pregnancy', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.11.02.0009". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.464.0003.11.02.0010']">For QDT pattern 'Procedure, Performed: Procedures Involving Contraceptive Devices', QRDA template id "2.16.840.1.113883.10.20.24.3.64" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.3.464.0003.11.02.0010". </assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.55'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.221.5']">For QDT pattern 'Patient Characteristic Payer: Payer', QRDA template id "2.16.840.1.113883.10.20.24.3.55" SHOULD be present and SHOULD be bound to value set "2.16.840.1.113883.221.5". </assert>
		</rule>
	</pattern>
</schema>