resources/schematron/qrda/qrda_cat_1/measure_specific/f2de340b-93c5-4931-ba39-a6ed81ba6cba.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron C:/Users/rickg/workspaces-svn/ClientProjects/QRDATesting/measure-specific-schematron/schematron.xsd">
	<ns uri="urn:hl7-org:v3" prefix="cda"/>
	<ns uri="urn:hl7-org:sdtc" prefix="sdtc"/>
	<phase id="warnings">
		<active pattern="p"/>
	</phase>
	<pattern id="p">
		<rule context="/cda:ClinicalDocument">
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.2.589']">For QDT pattern 'Diagnosis, Active: End Stage Renal Disease', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.624']">For QDT pattern 'Diagnosis, Active: Hospital Measures-AMI', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.653']">For QDT pattern 'Diagnosis, Active: Hospital Measures-Angioedema', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.664']">For QDT pattern 'Diagnosis, Active: Hospital Measures-Aortic stenosis', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.666']">For QDT pattern 'Diagnosis, Active: Hospital Measures-Chronic kidney disease', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.659']">For QDT pattern 'Diagnosis, Active: Hospital Measures-Nephritis', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.665']">For QDT pattern 'Diagnosis, Active: Hospital Measures-Renal artery stenosis', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.656']">For QDT pattern 'Diagnosis, Active: Hospital Measures-Renal disease/dysfunction', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.660']">For QDT pattern 'Diagnosis, Active: Hospital Measures-Renal failure (acute and chronic)', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.644']">For QDT pattern 'Diagnosis, Active: LVSD', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.11'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.749']">For QDT pattern 'Diagnosis, Active: LVSD moderate or severe', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.11</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.13'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.664']">For QDT pattern 'Diagnosis, Inactive: Hospital Measures-Aortic stenosis', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.13</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.14'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.664']">For QDT pattern 'Diagnosis, Resolved: Hospital Measures-Aortic stenosis', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.14</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.20'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.526.2.29']">For QDT pattern 'Diagnostic Study, Result: Ejection Fraction', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.20</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.23'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.307']">For QDT pattern 'Encounter, Performed: Encounter Inpatient', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.23</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.31'][descendant::*/@sdtc:valueSet='1.3.6.1.4.1.33895.1.3.0.45']">For QDT pattern 'Intervention, Order: Hospital Measures - Comfort Measure Only Intervention', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.31</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.41'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.645']">For QDT pattern 'Medication, Active: Hospital Measures-ACEI', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.41</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.41'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.646']">For QDT pattern 'Medication, Active: Hospital Measures-ARB', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.41</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.43'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.645']">For QDT pattern 'Medication, Adverse Effects: Hospital Measures-ACEI', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.43</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.43'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.646']">For QDT pattern 'Medication, Adverse Effects: Hospital Measures-ARB', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.43</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.44'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.645']">For QDT pattern 'Medication, Allergy: Hospital Measures-ACEI', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.44</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.44'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.646']">For QDT pattern 'Medication, Allergy: Hospital Measures-ARB', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.44</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.46'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.645']">For QDT pattern 'Medication, Intolerance: Hospital Measures-ACEI', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.46</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.46'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.646']">For QDT pattern 'Medication, Intolerance: Hospital Measures-ARB', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.46</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.47'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.645']">For QDT pattern 'Medication, Order: Hospital Measures-ACEI', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.47</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.47'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.646']">For QDT pattern 'Medication, Order: Hospital Measures-ARB', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.47</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.57'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.669']">For QDT pattern 'Physical Exam, Finding: Hospital Measures-Acute periorbital edema', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.57</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.57'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.654']">For QDT pattern 'Physical Exam, Finding: Hospital Measures-Angioneurotic edema', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.57</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.57'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.655']">For QDT pattern 'Physical Exam, Finding: Hospital Measures-Edema of eyelid', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.57</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.57'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.668']">For QDT pattern 'Physical Exam, Finding: Hospital Measures-Edema of glottis, larynx, nasopharynx, or pharynx', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.57</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.652']">For QDT pattern 'Procedure, Performed: Hospital Measures-Aortic commissurotomy', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.64</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.650']">For QDT pattern 'Procedure, Performed: Hospital Measures-Aortic repair', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.64</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.658']">For QDT pattern 'Procedure, Performed: Hospital Measures-Dialysis', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.64</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.662']">For QDT pattern 'Procedure, Performed: Hospital Measures-Kidney transplant', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.64</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.64'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.651']">For QDT pattern 'Procedure, Performed: Hospital Measures-Valvuloplasty', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.64</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.82'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.684']">For QDT pattern 'Transfer To: Hospital Measures-Acute care hospital', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.82</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.82'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.3008']">For QDT pattern 'Transfer To: Hospital Measures - Home Hospice Care', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.82</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.82'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.3.666.5.3007']">For QDT pattern 'Transfer To: Hospital Measures - Inpatient Hospice Care', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.82</assert>
			<assert test="//*[cda:templateId/@root='2.16.840.1.113883.10.20.24.3.55'][descendant::*/@sdtc:valueSet='2.16.840.1.113883.221.5']">For QDT pattern 'Patient Characteristic Payer: Payer', the following QRDA template id SHOULD be present: 2.16.840.1.113883.10.20.24.3.55</assert>
		</rule>
	</pattern>
</schema>