resources/schematron/qrda/qrda_cat_3/QRDA_Category_III_measure_specific.sch

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<sch:schema xmlns:voc="http://www.lantanagroup.com/voc" xmlns:svs="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cda="urn:hl7-org:v3" xmlns="urn:hl7-org:v3" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
<sch:ns prefix="voc" uri="http://www.lantanagroup.com/voc" />
<sch:ns prefix="svs" uri="urn:ihe:iti:svs:2008" />
<sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance" />
<sch:ns prefix="cda" uri="urn:hl7-org:v3" />
<sch:ns prefix="sdtc" uri="urn:hl7-org:sdtc" />
  	<sch:phase id="errors">
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0d01c6626e46-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-01954afc63b2-errors" />
		<sch:active pattern="p-8a4d92b2-37bf-6f1b-0137-cdadba302b85-errors" />
		<sch:active pattern="p-8a4d92b2-37d1-f95b-0137-e776b0467baf-errors" />
		<sch:active pattern="p-8a4d92b2-3a00-2a25-013a-0dd50ce621d8-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-01a1d2c966bc-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-01959fb76498-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0138-9b2eaba7321d-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0c4e00454b35-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-01965ecf65be-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-018ce6f1622a-errors" />
		<sch:active pattern="p-8a4d92b2-39ca-af4b-0139-dfaaffd96efe-errors" />
		<sch:active pattern="p-8a4d92b2-37d1-f95b-0137-e1e272994b3f-errors" />
		<sch:active pattern="p-8a4d92b2-3a58-b777-013a-670ab6932a3b-errors" />
		<sch:active pattern="p-8a4d92b2-3a00-2a25-013a-295ed21c463c-errors" />
		<sch:active pattern="p-8a4d92b2-3a58-b777-013a-716dfc096ee3-errors" />
		<sch:active pattern="p-8a4d92b2-3a00-2a25-013a-4640d11650cb-errors" />
		<sch:active pattern="p-8a4d92b2-37bf-6f1b-0137-ccd612a40d0e-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0d071ee37793-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-12364ae9126f-errors" />
		<sch:active pattern="p-8a4d92b2-37d1-f95b-0137-dd4b0eb62de6-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0d08a4be7be6-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0c4e41594c98-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-11b262260a92-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-013b0c87524a-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0c49fb8c4757-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0c4e6d2b4d6b-errors" />
		<sch:active pattern="p-8a4d92b2-3887-5df3-0139-0c0d3d783133-errors" />
		<sch:active pattern="p-8a4d92b2-37d1-f95b-0137-e726ad2f7415-errors" />
		<sch:active pattern="p-8a4d92b2-39ca-af4b-0139-cae9ed8a01bd-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-9cd4937e6c86-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-7ccb48f6025d-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-b0cba8db32c3-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-b0cadcb63221-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-c648b33d5582-errors" />
		<sch:active pattern="p-8a4d92b2-35fb-4aa7-0136-5a26000d30bd-errors" />
		<sch:active pattern="p-8a4d92b2-39ca-af4b-0139-caf11e27054e-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-b0a4bca22cf1-errors" />
		<sch:active pattern="p-8a4d92b2-35fb-4aa7-0136-403ad4504573-errors" />
		<sch:active pattern="p-8a4d92b2-39ca-af4b-0139-d472724e0c46-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-795264d90290-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-79591505044d-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-7e243c8b15b6-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-78e4e5077d41-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-9bb3331f4c02-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-7944acb700bd-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-77de6f785ed7-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-5a8af3e97bdb-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-b0a6a11f2da5-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-9cea5d84733a-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-77e3e23961ab-errors" />
		<sch:active pattern="p-8a4d92b2-35fb-4aa7-0136-5a7418ff37e8-errors" />
		<sch:active pattern="p-8a4d92b2-3676-1350-0136-9768076550f0-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-78e0235b7b8b-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-77f580ae6690-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-78797547731a-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-c61d57895039-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-b0cc617e335d-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-77fe9fdc6853-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-7cc6b5b8011e-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-77e59fa3632e-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-77ee2510640e-errors" />
		<sch:active pattern="p-8a4d92b2-35fb-4aa7-0136-1cb01c4d758c-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-b0dc53b034a7-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-a27b83221f9a-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-a1e9806f0ef4-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-7941863d7ffd-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-c626c0935307-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-c6208b875109-errors" />
		<sch:active pattern="p-8a4d92b2-39ca-af4b-0139-d49a6c2a1dd7-errors" />
		<sch:active pattern="p-8a4d92b2-3946-cdae-0139-77e3674a60fc-errors" />
		<sch:active pattern="p-8a4d92b2-3a58-b777-013a-652851981835-errors" />
		<sch:active pattern="p-8a4d92b2-373f-82e2-0137-be8bf22d0256-errors" />
		<sch:active pattern="p-8a4d92b2-397a-48d2-0139-c63d3e41543c-errors" />
		<sch:active pattern="p-8a4d92b2-3a00-2a25-013a-40e66ce1333f-errors" />
		<sch:active pattern="p-8a4d92b2-39ca-af4b-0139-fedeeaa44f14-errors" />
		<sch:active pattern="p-8a4d92b2-3a00-2a25-013a-407c78a12c20-errors" />
		<sch:active pattern="p-8a4d92b2-3a00-2a25-013a-4b4a282e7048-errors" />
		<sch:active pattern="p-8a4d92b2-3a00-2a25-013a-4b927224747d-errors" />
		<sch:active pattern="p-8a4d92b2-3927-d7ae-0139-366c49f93102-errors" />
	</sch:phase>
  	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0d01c6626e46-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0d01c6626e46']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-01954afc63b2-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-01954afc63b2']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-37bf-6f1b-0137-cdadba302b85-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-37bf-6f1b-0137-cdadba302b85']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-37d1-f95b-0137-e776b0467baf-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-37d1-f95b-0137-e776b0467baf']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a00-2a25-013a-0dd50ce621d8-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a00-2a25-013a-0dd50ce621d8']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-01a1d2c966bc-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-01a1d2c966bc']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-01959fb76498-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-01959fb76498']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0138-9b2eaba7321d-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0138-9b2eaba7321d']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0c4e00454b35-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0c4e00454b35']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='MSRPOPL']) = 1">The QRDA Cat III report is required to report a measure population</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-01965ecf65be-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-01965ecf65be']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-018ce6f1622a-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-018ce6f1622a']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-39ca-af4b-0139-dfaaffd96efe-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-39ca-af4b-0139-dfaaffd96efe']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-37d1-f95b-0137-e1e272994b3f-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-37d1-f95b-0137-e1e272994b3f']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a58-b777-013a-670ab6932a3b-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a58-b777-013a-670ab6932a3b']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a00-2a25-013a-295ed21c463c-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a00-2a25-013a-295ed21c463c']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a58-b777-013a-716dfc096ee3-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a58-b777-013a-716dfc096ee3']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a00-2a25-013a-4640d11650cb-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a00-2a25-013a-4640d11650cb']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-37bf-6f1b-0137-ccd612a40d0e-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-37bf-6f1b-0137-ccd612a40d0e']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0d071ee37793-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0d071ee37793']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-12364ae9126f-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-12364ae9126f']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-37d1-f95b-0137-dd4b0eb62de6-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-37d1-f95b-0137-dd4b0eb62de6']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='MSRPOPL']) = 1">The QRDA Cat III report is required to report a measure population</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0d08a4be7be6-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0d08a4be7be6']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0c4e41594c98-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0c4e41594c98']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='MSRPOPL']) = 1">The QRDA Cat III report is required to report a measure population</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-11b262260a92-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-11b262260a92']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-013b0c87524a-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-013b0c87524a']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0c49fb8c4757-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0c49fb8c4757']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0c4e6d2b4d6b-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0c4e6d2b4d6b']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3887-5df3-0139-0c0d3d783133-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3887-5df3-0139-0c0d3d783133']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-37d1-f95b-0137-e726ad2f7415-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-37d1-f95b-0137-e726ad2f7415']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-39ca-af4b-0139-cae9ed8a01bd-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-39ca-af4b-0139-cae9ed8a01bd']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-9cd4937e6c86-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-9cd4937e6c86']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-7ccb48f6025d-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-7ccb48f6025d']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-b0cba8db32c3-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-b0cba8db32c3']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-b0cadcb63221-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-b0cadcb63221']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-c648b33d5582-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-c648b33d5582']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-35fb-4aa7-0136-5a26000d30bd-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-35fb-4aa7-0136-5a26000d30bd']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-39ca-af4b-0139-caf11e27054e-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-39ca-af4b-0139-caf11e27054e']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-b0a4bca22cf1-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-b0a4bca22cf1']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-35fb-4aa7-0136-403ad4504573-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-35fb-4aa7-0136-403ad4504573']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-39ca-af4b-0139-d472724e0c46-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-39ca-af4b-0139-d472724e0c46']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-795264d90290-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-795264d90290']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-79591505044d-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-79591505044d']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-7e243c8b15b6-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-7e243c8b15b6']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-78e4e5077d41-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-78e4e5077d41']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-9bb3331f4c02-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-9bb3331f4c02']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-7944acb700bd-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-7944acb700bd']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-77de6f785ed7-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-77de6f785ed7']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-5a8af3e97bdb-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-5a8af3e97bdb']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-b0a6a11f2da5-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-b0a6a11f2da5']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-9cea5d84733a-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-9cea5d84733a']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-77e3e23961ab-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-77e3e23961ab']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-35fb-4aa7-0136-5a7418ff37e8-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-35fb-4aa7-0136-5a7418ff37e8']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3676-1350-0136-9768076550f0-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3676-1350-0136-9768076550f0']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-78e0235b7b8b-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-78e0235b7b8b']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-77f580ae6690-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-77f580ae6690']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-78797547731a-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-78797547731a']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-c61d57895039-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-c61d57895039']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-b0cc617e335d-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-b0cc617e335d']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-77fe9fdc6853-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-77fe9fdc6853']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-7cc6b5b8011e-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-7cc6b5b8011e']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-77e59fa3632e-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-77e59fa3632e']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-77ee2510640e-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-77ee2510640e']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-35fb-4aa7-0136-1cb01c4d758c-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-35fb-4aa7-0136-1cb01c4d758c']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-b0dc53b034a7-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-b0dc53b034a7']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-a27b83221f9a-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-a27b83221f9a']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-a1e9806f0ef4-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-a1e9806f0ef4']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-7941863d7ffd-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-7941863d7ffd']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-c626c0935307-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-c626c0935307']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-c6208b875109-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-c6208b875109']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-39ca-af4b-0139-d49a6c2a1dd7-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-39ca-af4b-0139-d49a6c2a1dd7']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3946-cdae-0139-77e3674a60fc-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3946-cdae-0139-77e3674a60fc']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a58-b777-013a-652851981835-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a58-b777-013a-652851981835']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-373f-82e2-0137-be8bf22d0256-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-373f-82e2-0137-be8bf22d0256']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-397a-48d2-0139-c63d3e41543c-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-397a-48d2-0139-c63d3e41543c']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a00-2a25-013a-40e66ce1333f-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a00-2a25-013a-40e66ce1333f']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-39ca-af4b-0139-fedeeaa44f14-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-39ca-af4b-0139-fedeeaa44f14']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a00-2a25-013a-407c78a12c20-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a00-2a25-013a-407c78a12c20']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a00-2a25-013a-4b4a282e7048-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a00-2a25-013a-4b4a282e7048']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3a00-2a25-013a-4b927224747d-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3a00-2a25-013a-4b927224747d']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENEX']) = 1">The QRDA Cat III report is required to report a denominator exceptions</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
	<sch:pattern id="p-8a4d92b2-3927-d7ae-0139-366c49f93102-errors">
		<sch:rule context="cda:organizer[cda:reference/cda:externalDocument/cda:id/@root='8a4d92b2-3927-d7ae-0139-366c49f93102']">
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='IPP']) = 1">The QRDA Cat III report is required to report on initial patient population</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='DENOM']) = 1">The QRDA Cat III report is required to report a denominator</sch:assert>
			<sch:assert test="count(cda:component/cda:observation/cda:value[@code='NUMER']) = 1">The QRDA Cat III report is required to report a numerator</sch:assert>
		</sch:rule>
	</sch:pattern>
</sch:schema>